<body class="container mt-5">
    <h2 class="mb-4">Modificar Employee</h2>
    <form id="actorForm" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="cod_act">employee_id:</label>
            <select class="form-control">
                <option value="">Seleccione un employee_id</option>
            </select>
            <div class="invalid-feedback">
                Por favor, seleccione un employee_id.
            </div>
        </div>
        <div class="form-group">
            <label for="cod_act">first_name:</label>
            <input type="text" class="form-control">
            <div class="invalid-feedback">
                Por favor, ingrese el first_name.
            </div>
        </div>
        <div class="form-group">
            <label for="cod_act">last_name:</label>
            <input type="text" class="form-control">
            <div class="invalid-feedback">
                Por favor, ingrese el last_name.
            </div>
        </div>
        <div class="form-group">
            <label for="cod_act">email:</label>
            <input type="text" class="form-control">
            <div class="invalid-feedback">
                Por favor, ingrese el email.
            </div>
        </div>
        <div class="form-group">
            <label for="cod_act">phone_number:</label>
            <input type="text" class="form-control">
            <div class="invalid-feedback">
                Por favor, ingrese el phone_number.
            </div>
        </div>
        <div class="form-group">
            <label for="fec_mue_act">hire_date:</label>
            <input type="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="cod_act">job_id:</label>
            <select class="form-control">
                <option value="">Seleccione un job_id</option>
            </select>
            <div class="invalid-feedback">
                Por favor, seleccione un job_id.
            </div>
        </div>
        <div class="form-group">
            <label for="cod_act">salary:</label>
            <input type="text" class="form-control">
            <div class="invalid-feedback">
                Por favor, ingrese el salary.
            </div>
        </div>
        <div class="form-group">
            <label for="cod_act">comission_pct:</label>
            <input type="text" class="form-control">
            <div class="invalid-feedback">
                Por favor, ingrese el comission_pct.
            </div>
        </div>
        <div class="form-group">
            <label for="cod_act">manager_id:</label>
            <select class="form-control">
                <option value="">Seleccione un manager_id</option>
            </select>
            <div class="invalid-feedback">
                Por favor, seleccione un manager_id.
            </div>
        </div>
        <div class="form-group">
            <label for="cod_act">department_id:</label>
            <select class="form-control">
                <option value="">Seleccione un department_id</option>
            </select>
            <div class="invalid-feedback">
                Por favor, seleccione un department_id.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Modificar Employee</button>
    </form>
    <div id="response" class="mt-4"></div>
</body>