<body class="container mt-5">
    <h2 class="mb-4">Eliminar Employee</h2>
    <form id="actorForm" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="cod_act">employee_id:</label>
            <select class="form-control">
                <option value="">Seleccione un employee_id</option>
            </select>
            <div class="invalid-feedback">
                Por favor, seleccione un employee_id.
            </div>
        </div>
        <button type="submit" class="btn btn-danger">Eliminar Employee</button>
    </form>
    <div id="response" class="mt-4"></div>
</body>