<body class="container mt-5">
    <h2 class="mb-4">Lista de Employees</h2>
    <table id="actorsTable" class="table table-striped">
        <thead>
            <tr>
                <th>employee_id</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>email</th>
                <th>phone_number</th>
                <th>hire_date</th>
                <th>job_id</th>
                <th>salary</th>
                <th>comission_pct</th>
                <th>manager_id</th>
                <th>department_id</th>
            </tr>
        </thead>
    </table>
</body>